<h1>About_me</h1>

<!doctype html>
<html>
  <head>
    <title>About Me</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>


  <body>
    <div id="wrapper">

      <div id="header">
        <header>
          <h1>Evan Allred</h1>
        </header>
      </div>

      <div id="content">
        <div class="profile_pic">
          <img src="img/evan_allred.jpg">
        </div>
        <div class="info">
          <ul>
            <li>From -<span>Rocky Ridge, Utah. (South of Santaquin)</span></li>
            <br>
            <li>Age -<span>24 yrs and counting</span></li>
            <br>
            <li>Profession -<span> 3D Modeler @ <a href="http://www.3dsbim.com">3DS Consulting.</a></span></li>


          </ul>
        </div>
        <div class="about_me">
          <h3 class="header"> A Little Bit About Me</h3>
          <p>I was born and raised here in Utah. I grew up roaming the mountains, I love Archery Hunting, Fishing, Football, Legos, Quadcopters, Science and my Family. I have always loved fixing things and creative construction.<br>
          I did commercial construction for 7 years before teaching myself 3D software</p>
        </div>
      </div>

      <div id="footer">
        <footer>
          <div>
            <p> I'm <strong>Super</strong> excited to be here to learn programming and web development!!</p>
          </div>
        </footer>
      </div>

    </div>
  </body>
</html>

