<div id="about_me">
  <h1> Home </h1>
    <nav >
      <div>
        <p><%= link_to 'About Me', about_path %></p>
        <p><%= link_to 'Posts', posts_path %></p>
      </div>
    </nav>

  <h3>Hello my name is Evan, welcome to awesomeness in the future.</h3>


  <div>
  What i do every day
    <ul>
      <li> play around at DevPoint</li>
      <li> play around at Home</li>
      <li> play around in the Mountains</li>
    </ul>
  </div>
</div>